apiVersion: apps/v1
kind: Deployment
metadata:
  name: synergychat-crawler
  namespace: crawler
  labels: 
    app: synergychat-crawler # used to select the pods that this deployment manages
spec:
  replicas: 1
  selector: # selector tells the Deployment wich Pods it manages. Those whose metadata.labels include app: synergychat-web (we make this be the case below in the 'template' section)
    matchLabels: # labels are how Kubernetes knows which pods belong to which deployments
      app: synergychat-crawler # must match metadata/labels/app above
  template:
    metadata:
      labels:
        app: synergychat-crawler # sets labels on the Pods created by the Deployment
    spec:
      containers:
       - name: synergychat-crawler-1
         image: bootdotdev/synergychat-crawler:latest
         envFrom:
          - configMapRef:
              name: synergychat-crawler-configmap
         volumeMounts:
          - name: cache-volume
            mountPath: /cache
       - name: synergychat-crawler-2
         image: bootdotdev/synergychat-crawler:latest
         env:
          - name: CRAWLER_PORT
            valueFrom:
              configMapKeyRef:
                name: synergychat-crawler-configmap
                key: CRAWLER_PORT_2
          - name: CRAWLER_KEYWORDS
            valueFrom:
              configMapKeyRef:
                name: synergychat-crawler-configmap
                key: CRAWLER_KEYWORDS
          - name: CRAWLER_DB_PATH
            valueFrom:
              configMapKeyRef:
                name: synergychat-crawler-configmap
                key: CRAWLER_DB_PATH
         volumeMounts:
          - name: cache-volume
            mountPath: /cache
       - name: synergychat-crawler-3
         image: bootdotdev/synergychat-crawler:latest
         env:
          - name: CRAWLER_PORT
            valueFrom:
              configMapKeyRef:
                name: synergychat-crawler-configmap
                key: CRAWLER_PORT_3
          - name: CRAWLER_KEYWORDS
            valueFrom:
              configMapKeyRef:
                name: synergychat-crawler-configmap
                key: CRAWLER_KEYWORDS
          - name: CRAWLER_DB_PATH
            valueFrom:
              configMapKeyRef:
                name: synergychat-crawler-configmap
                key: CRAWLER_DB_PATH
         volumeMounts:
          - name: cache-volume
            mountPath: /cache
      volumes:
        - name: cache-volume
          emptyDir: {}